<div class="relative">
  <form [formGroup]="formGroup">
    <table>
      <tr style="background: white">
        <td><label for="name">Name: </label></td>
        <td><input type="text" id="name" [(ngModel)]="name" name="name" formControlName="name"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="surname">Surname: </label></td>
        <td><input type="text" id="surname" [(ngModel)]="surname" name="surname" formControlName="surname"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="number">Number: </label></td>
        <td><input type="number" id="number" [(ngModel)]="number" name="number" formControlName="number"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="street">Street: </label></td>
        <td><input type="text" id="street" [(ngModel)]="street" name="street" formControlName="street"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="city">City: </label></td>
        <td><input type="text" id="city" [(ngModel)]="city" name="city" formControlName="city"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="country">Country: </label></td>
        <td><input type="text" id="country" [(ngModel)]="country" name="country" formControlName="country"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="email">Email: </label></td>
        <td><input type="email" id="email" [(ngModel)]="email" name="email" formControlName="email"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="username">Username: </label></td>
        <td><input type="text" id="username" [(ngModel)]="username" name="username" formControlName="username"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="password">Password: </label></td>
        <td><input type="password" id="password" [(ngModel)]="password" name="password" formControlName="password"/></td>
      </tr>
      <tr style="background: white">
        <td><label for="role">Role: </label></td>
        <td>
          <select style="width: 100%;" #role id="role" (change)="changedRole(role.value)" name="role">
            <option>Admin</option>
            <option>Customer</option>
            <option>Staff</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center; padding-top: 5px; padding-bottom: 5px;">
          <button (click)="registration()" type="button" [disabled]="!formGroup.valid">Register</button>
        </td>
      </tr>
    </table>
  </form>
</div>