<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="session" routerLinkActive="active-link">User session</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="registration" routerLinkActive="active-link">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user-operations" routerLinkActive="active-link">User operations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="item-operations" routerLinkActive="active-link">Item operations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="order-operations" routerLinkActive="active-link">Order operations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="invoice-operations" routerLinkActive="active-link">Invoice operations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="stack-operations" routerLinkActive="active-link">Stack operations</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>